<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.room">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_final"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_final"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name=".Notes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Boards"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Walls"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Rooms"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".DoorLogin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme">

        </activity>
        <activity android:name=".DoorReg">

        </activity>
        <activity
            android:name=".ProjectInfo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>